.bgIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 1024px;
  display: none;
}
.frameChild {
  position: relative;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.panOutChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-lg) 0 0 var(--br-lg);
  background-color: var(--secondary-8001);
  width: 40px;
  height: 40px;
}
.iconarrowChevron {
  position: absolute;
  top: 32px;
  left: 32px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.panOut {
  position: relative;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  display: none;
}
.frameParent,
.groupParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.frameParent {
  position: absolute;
  top: 476px;
  left: 992px;
}
.groupContainer {
  position: absolute;
  top: 76px;
  left: 230px;
  width: 1175px;
  height: 918px;
}
.pinnedCardPopup {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 1440px;
  overflow: hidden;
}
